@use 'sass:color';

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

// Variables
$header-font: 'Montserrat', sans-serif;
$body-font: 'Montserrat', sans-serif;

$light: #ffffff;
$dark: #333747;
$accent: #57E1A9;

$border-style: 1px solid #eee;

// Mixins

/// Adds a breakpoint
///
/// @param {string} $width
///   The size of the target breakpoint
/// @param {string} $type
///   min or max width
$breakpoints: (
  'extra-small': 446px,
  'small': 768px,
  'medium': 992px,
  'large': 640px,
  'extra-large': 768px,
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin button($align) {

}

// Import modules
@import './alerts.scss';

// Get Sassy
* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  font-family: $body-font;
}

.webapp {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main" "nav";

  .content {
    padding: 32px;
    grid-area: main;
    overflow: scroll;
  }

  .nav {
    grid-area: nav;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: $border-style;
  }
}

select {
  border: {
    width: 1px;
    style: solid;
    color: $dark;
    radius: 3px;
  }
  font: {
    family: $body-font;
    size: 12px;
  }
  color: $dark;
  width: 100px;
  padding: 4px;
  display: block;
}

.button {
  $gray: #ccc;
  padding: 10px 24px;
  border: 2px solid $gray;
  background-color: color.scale($gray, $alpha: -50%);
  display: inline-block;
  font-size: 12px;

  &.button-accent {
    background-color: $accent;
    border-color: color.scale($accent, $lightness: -20%)
  }
}