$alert-width: 320px
  
.alert
  position: fixed
  top: 100px
  left: 50%
  width: $alert-width
  margin-left: ($alert-width / 2) * -1
  padding: 1rem 3rem
  border-radius: 24px
  background-color: cadetblue
