.button 
  padding: 12px 24px
  border-radius: 100px
  cursor: pointer
  font-weight: 700
  text-decoration: none
  font-family: sans-serif
  font-size: 15px
  color: $dark
  background-color: $white
  transition: 300ms ease

  &:hover
    color: white
    background-color: $accent
    border-color: $accent

  &:not(:last-child)
    margin-right: 24px

  &.button_accent
    background-color: $accent
    color: $white

    &:hover 
      color: $dark
      background-color: $white