.new_event_wrapper
  margin: 6rem auto 0
  width: 100%
  max-width: 600px
  padding: 4rem 2rem
  border-radius: 4px
  box-shadow: $smooth-shadow
  font-size: 1rem

  h3
    margin-bottom: 2rem

  form 
    text-align: center 

    > * 
      display: block
      width: 100%
